---
import Layout from '../layouts/Layout.astro';
import { QuestionCard } from '../components/react/QuestionCard';
import Main from '../components/astro/Main.astro';
import Congrats from '../components/astro/Congrats.astro';
import Rules from '../components/astro/Rules.astro';

const options = ['Una estatua', 'Una escultura', 'Una reliquia'];
const question = 'Que se dice ';
---

<Layout title="Game page" description="Game page">
  <Main bg="bg-game">
    <QuestionCard
      options={options}
      question={question}
      client:load
      isPast={false}
    />
    <!-- <Congrats isPast={true} gameOver={false} /> 
    <Rules /> -->
  </Main>
</Layout>
